html, body{
    margin: 0px;
    padding: 0px;
}
#container{
    background-color: #202020;
    color: white;
}
.photos{
    height: auto;
    padding-left: 50px;
}
.img{
    width: 25%;
    float: left;
    margin-right: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
}
#content{
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    
}
#header{
    
    padding-top: 20px;
    padding-bottom: 20px;
    background-image: url(background.jpg);
}
h1{
    font-size: 6em;
    text-align: center;
}
h2{
    padding-top: 20px;
    font-size: 4em;
    margin-top: 0px;
    text-align: center;
    font-size: 3em;
}
h3{
    text-align: center;
    font-size: 3em;
}
#links ul{
    list-style: none;
    text-align: center;
}
#links li{
    display: inline-block;
    font-size: 1.5em;
    padding-left: 10px;
    padding-right: 10px;
}
.specs ul, .specs li{
    font-size: 1.5em;
}
p{
    font-size: 1.5em;
}
strong{
    text-transform: capitalize;
}
a{
    color: white;
}
#reflect{
    padding-bottom: 100px;
    padding-left: 50px;
    padding-right: 50px;
}
